
<div class="container1">
    <h1>Select one to View</h1>
    <div class="row">
    <div class="div1 div">
        <div class="ins-div1">
              <div class="div1-img"><img src={{photourl}}/></div>  
                <h1>Wel<span style="color:rgb(95, 158, 160) ;">Come</span><br>
               <span style="color:rgb(34, 87, 88);">{{name}}</span></h1> <br>
                <button class="div1-button " (click)="signout()">SignOut</button>
        </div>
    </div>
    <div class="div2 div"><h1>Oppurtunity Management</h1></div>
    <div class="div3 div"><h1>Candidate Management</h1></div>
    </div>
    <div class="row">
        <div class="div4 div">
            <h1>Course Management</h1>
        </div>
        <div class="div5 div"><h1>Assessment</h1></div>
       <a routerLink="/Onboard"> <div class="div6 div"><h1>Onboard</h1></div></a>
    </div>
</div>
