
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}

.chart{
    margin-top: 80px;
    width:50%;
    height:40vh;
}
.heading{
    text-align: center;
    margin-bottom: 30px;

}